.StatusUitgeleend {
    background-color: red;
    color: white;
    border: 1px solid black;
}

.StatusBeschikbaar {
    background-color: lightgreen;
    border: 1px solid black;
}

.Boek:hover {
    background-color: red;
    transition: all 0.2s ease-in-out;
    color: black;
    cursor: pointer;
}