.StatusUitgeleend {
    background-color: red;
    color: white;
}

.StatusBeschikbaar {
    background-color: lightgreen;
}

.Boek:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}