.StatusUitgeleend {
    background-color: red;
    color: white;
}

.StatusBeschikbaar {
    background-color: lightgreen;
}

.Boek:hover {
    background-color: red;
    transition: all 0.2s ease-in-out;
    color: black;
    cursor: pointer;
}