.resetbtn{
    color: #fff;
    font-size: 15px;
    border: 1px solid #25f025;
    border-radius:4px;
    background-color:#25f025;
    height: 30px;
    width: 60px;

}
.resetbtn:hover{
    color: black;
}
.paragraph{
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
}

.zoekveld {
    color: black;
    font-size: 15px;
    border: 1px solid rgb(0, 0, 0);
    border-radius:4px;
    height: 25px;
    width: 150px;

}