.dropdown-menu{
    width:200px;
    position: absolute;
    top: 100px;
    list-style: none;
    text-align: start;
}

.dropdown-menu li {
    background: rgb(7, 7, 7);
    padding: 6px;
    cursor: pointer;
}

.dropdown-menu li:hover{
    background: #25f025;
    color: black;
}

.dropdown-menu.clicked {
    display: none;
}

.dropdown-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
    padding: 10px;
}