.dropdown-menu{
    background: rgb(0, 0, 0);
    width: 230px;
    position: absolute;
    top: 100px;
    list-style: none;
    text-align: start;
}

.dropdown-menu li {
    background: rgb(0, 0, 0);
    location: center;
    padding: 10px;
    cursor: pointer;
}

.dropdown-menu li:hover{
    color: #25f025;
    }

.dropdown-menu.clicked {
    display: none;
}

.dropdown-link {
    display: block;
    color: #25f025;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

.dropdown-link:hover{
    color: #25f025;
}

@media screen and (max-width: 960px) {
    .fa-caret-down {
      display: none;
    }
  }