.NavbarItems{
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(2, 2, 2) 100%);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.navbar-logo {
    color: #25f025;
    justify-self: start;
    width: 230px;
    height:100px;
    margin-left: 10px;
    cursor: pointer;
}

.fa-react {
    margin-left: 0.8rem;
    font-size: 1.8rem;
}

/*This is to modify the layout of the menu in the navbar, i.e. position of Home, Services,
    Products, etc. This is what is in the <ul> in the Navbar.js*/
.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto); /*makes sure that the navbar items do not overlap with the navbar logo*/
    grid-gap: 15px;
    list-style: none;
    text-align: center;
    width: 65vw;
    justify-content: end;
    margin-right: 1rem;
}

.nav-item {
    display: flex;
    align-items: left;
    height: 100px;
  }

{/*nav-links was defined as a classname in the MenuItems.js. Here we style the 
    menuitems in the navbar.*/}
.nav-links {
    color: #fff;
    text-decoration: none;
    padding: 2.25rem 1rem; /*The padding is only for when you hover over the items*/
}

.nav-links:hover {
    color:#25f025;
    /* background: #e95c1b; */
    transition: all 0.2s ease-in-out;
}

.fa-bars {
    color: #ffff;
}

/*we chose not to display sign in*/
.nav-links-mobile {
    display: none;
}

/*Here we decide to not show the hamburger drop down menu!!!*/
.menu-icon {
    display: none;
}

@media screen and (max-width:960px) { /*This is done to show the menu when browser is in mobile*/
    .NavbarItems {
        position: relative;
    }

     .nav-menu{ /* Styling and positioning of the drop down hamburger menu */
        display: flex;
        flex-direction: column;
        width: 25%;
        height: 500px;
        position: absolute;
        justify-content: right;
        top: 84px;
        left: -150%;
        opacity: 1;
        transition: all 0.3s ease-in-out;
        /*float: right; /* Float is ignored when setting position to absolute!*/
    }

    .nav-menu.active{
        background: #000000; /*background-color of the drop down hamburger menu*/
        left: 0;
        opacity:1;
        transition: all 0.2s ease;
        z-index: 1;
        border-radius: 0px;
    }

    .nav-links{ /*This is to change styling of the drop down hamburger menu! */
        text-align: center;
        padding: 0.75rem; /*thickness of the hamburger menu items*/
        width: 85%;
        height: 10%;
        display: table;
    }

    .nav-links:hover{
        background-color: #25f025; /*Color of the menuItem box when you hover over it in the hamburger menu*/
        /* right: 1; */
        position: center;
        border-radius: 4px;
        width: 80%;/* border-radius: 0; */
        height: 40%;
        font-size: 1rem;
        color: rgb(2, 2, 2);
    }

    .navbar-logo {
        position: absolute;
        top: 0;
        left:0;
        transform: translate(10%, 0%);
    }

    .menu-icon {
        display:block;
        position: absolute;
        top: 0;
        right:0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times {
        color: #fff;
        font-size: 2rem;
    }

    .nav-links-mobile {
        display:block;
        text-align: center;
        padding: 0.5rem;
        margin: 0.5rem auto;
        border-radius: 4px;
        width: 70%;
        position: absolute;
        background: #25f025;
        text-decoration: none;
        color: white;
        font-size:1.5rem;
    }

    .nav-links-mobile:hover{
        background: #25f025;
        color: black;
        transition: 250ms;
    }

}