div {
    text-align: left;
}

table {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    content: "width=device-width, initial-scale=1";
}

td {
    /* TODO -> width=device-width/3? */
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
}