.BoekToevoegen {
    display:grid;
    grid-template-columns: max-content max-content;
    grid-gap:5px;
}


.BoekToevoegen label       { text-align:right; }
.BoekToevoegen label:after { content: ":"; }

.BoekToevoegen #stuur:after {content:""}


